.Container{
    padding: 20px 20px 20px 20px;
    display: block;
    width: 300px;
    background-color: rgba(98, 99, 100, 0.774);
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(178, 185, 192, 0.404);
}