.Buscador{
    padding-left: 20px;
}
.Buscador input{
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(240, 248, 255, 0.575);
    font-size: 15px;
    width: 150px;
    float: left;
    background-color: rgba(253, 255, 255, 0.801);
    transition: 0.3s;
}
.Buscador input:focus{
    width: 170px;
}
.btnbusqueda{
    border-radius: 10px;
}
.inpbusqueda{
    width: 100px;
    background-color: rgba(255, 253, 253, 0.89);
}